* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

a {
  text-decoration: none;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
